<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <i class="fas fa-globe"></i>
        {{ 'app_title'|trans }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{{ 'toggle_navigation'|trans }}">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
                {% if current_user is defined %}
                    <li class="nav-item dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" id="connected_dropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                            {{ current_user.firstname|capitalize }} {{ current_user.lastname|upper }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="connected_dropdown">
                            <a class="dropdown-item" href="{{ path_for('getUserProfile') }}">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ 'profile'|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path_for('getLogout') }}">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                {{ 'logout' }}
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path_for('getAuth') }}">
                            {{ 'connect'|trans }}
                        </a>
                    </li>
                {% endif %}
            </li>

        </ul>
    </div>
</nav>