{% extends 'admin/base.twig' %}

{% block title %}{{ 'users_title'|trans }}{% endblock %}

{% block body %}

    <h1 class="h3 mb-2 text-gray-800">{{ 'users_title'|trans }}</h1>

    <div class="row">
        <div class="card shadow mb-4 mt-3 w-100">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'users_list'|trans }}</h6>
            </div>
            <div class="card-body">

                    <div class="col-md-12 p-0">
                        <div class="top_wrapper shadow">
                            <a href="#" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-plus-circle"></i> {{ 'add_new'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="content_wrapper shadow">
                            <table id="users-table" class="text-center">
                                <thead>
                                <tr>
                                    <th>{{ 'id'|trans }}</th>
                                    <th>{{ 'firstname'|trans }}</th>
                                    <th>{{ 'lastname'|trans }}</th>
                                    <th>{{ 'email'|trans }}</th>
                                    <th>{{ 'type'|trans }}</th>
                                    <th>{{ 'is_activated'|trans }}</th>
                                    <th>{{ 'activated_at'|trans }}</th>
                                    <th>{{ 'actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td class="user_id">{{ user.id }}</td>
                                        <td class="user_firstname">{{ user.firstname|capitalize }}</td>
                                        <td class="user_lastname">{{ user.lastname|capitalize }}</td>
                                        <td class="user_email">{{ user.email }}</td>
                                        <td class="user_type">
                                            {% if user.role.name == 'superadmin' %}
                                                <span class="badge badge-pill badge-primary"><i class="fa fa-user-shield"></i>&nbsp;{{ user.role.name|upper|trans }}</span>
                                            {% elseif user.role.name == 'admin' %}
                                                <span class="badge badge-pill badge-secondary"><i class="fa fa-users"></i>&nbsp;{{ user.role.name|upper|trans }}</span>
                                            {% elseif user.role.name == 'user' %}
                                                <span class="badge badge-pill badge-info"><i class="fa fa-car"></i>&nbsp;{{ user.role.name|upper|trans }}</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp;{{ user.role.name|upper|trans }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="user_active">
                                            {% if user.active %}
                                                <span class="badge badge-pill badge-success p-2"><i class="fa fa-check"></i></span>
                                            {% else %}
                                                <span class="badge badge-pill badge-danger p-2"><i class="fa fa-times"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="user_activated_at">
                                            {% if user.activated_at %}
                                                {{ user.activated_at|date('d/m/Y H:i:s') }}
                                            {% else %}
                                                <span class="badge badge-pill badge-danger p-2"><i class="fa fa-times"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="user_actions text-center">

                                            <a href="{{ path_for('getHome', { 'id': user.id }) }}" data-toggle="tooltip" data-placement="top" title="{{ 'edit'|trans }}" data-placement="top" class="btn btn-info btn-icon-split modify_btn" data-id="{{ user.id }}">
                                                <span class="icon text-white-50"><i class="fas fa-id-card"></i></span>
                                            </a>

                                            <form method="post" action="{{ path_for('getHome') }}" onsubmit="return confirm('{{ 'are_you_sure'|trans }}');" style="display: inline-block;">
                                                <input type="hidden" value="{{ user.id }}" name="user_id">
                                                <button type="submit" data-toggle="tooltip" data-placement="top" title="{{ 'delete'|trans }}" data-placement="top" class="btn btn-danger btn-icon-split delete_btn"  data-id="{{ user.id }}">
                                                    <span class="icon text-white-50"><i class="fas fa-trash-alt"></i></span>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

            </div>
        </div>
    </div>

{%  endblock %}

{% block js %}
    <script src="{{ base_url() }}/js/admin/users/list.min.js"></script>
{% endblock %}

