{% extends 'admin/base.twig' %}

{% block title %}{{ 'users_title'|trans }}{% endblock %}


{% block css %}
    <link href="{{ base_url() }}/css/core/jquery.datatable.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1 class="h3 mb-2 text-gray-800">{{ 'users_title'|trans }}</h1>

    <div class="row">
        <div class="card shadow mb-4 mt-3 w-100">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'users_list'|trans }}</h6>
            </div>
            <div class="card-body">

                    <div class="col-md-12 p-0 mb-3">
                        <div class="top_wrapper">
                            <a href="#" class="btn btn-success btn-icon-split">
                                <span class="icon text-white-50"><i class="fas fa-plus-circle"></i> {{ 'add_new'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="content_wrapper">
                            <table id="users-table" class="text-center">
                                <thead>
                                    <tr>
                                        <th>{{ 'id'|trans }}</th>
                                        <th>{{ 'firstname'|trans }}</th>
                                        <th>{{ 'lastname'|trans }}</th>
                                        <th>{{ 'email'|trans }}</th>
                                        <th>{{ 'type'|trans }}</th>
                                        <th>{{ 'is_activated'|trans }}</th>
                                        <th>{{ 'created_at'|trans }}</th>
                                        <th>{{ 'activated_at'|trans }}</th>
                                        <th>{{ 'updated_at'|trans }}</th>
                                        <th>{{ 'actions'|trans }}</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

            </div>
        </div>
    </div>

{%  endblock %}

{% block js %}
    <script src="{{ base_url() }}/js/core/jquery.datatable.min.js"></script>
    <script type="application/javascript">
        appUrls.getUsersPaging = "{{ path_for('getUsersPaging') }}";
    </script>
    <script src="{{ base_url() }}/js/admin/users/list.min.js"></script>
{% endblock %}

