<!DOCTYPE html>
<html lang="{{ 'tag_lang_html'|trans }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ 'description_html'|trans }}">
        <meta name="author" content="{{ 'author_html'|trans }}">

        <title>{% block title %}{% endblock %} - {{ 'suffix_title'|trans }}</title>

        <!-- Custom fonts for this template-->
        <link href="{{ base_url() }}/css/core/fontawesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{{ base_url() }}/css/admin/sb-admin-2.min.css" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            {% block left_navbar %}
                {% include '_partials/admin/left_navbar.twig' %}
            {% endblock %}
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    {% block top_navbar %}
                        {% include '_partials/admin/top_navbar.twig' %}
                    {% endblock %}
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        {% block body %}{% endblock %}
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                {% block footer %}
                    {% include '_partials/admin/footer.twig' %}
                {% endblock %}
            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        {% include '_partials/admin/logout_modal.twig' %}

        <!-- Third Party Libs -->
        <script src="{{ base_url() }}/js/core/moment.min.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script src="{{ base_url() }}/js/core/jquery.min.js"></script>
        <script src="{{ base_url() }}/js/core/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="{{ base_url() }}/js/core/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="{{ base_url() }}/js/admin/sb-admin-2.min.js"></script>
        <script src="{{ base_url() }}/js/admin/global.min.js"></script>
        <script type="application/javascript">
            const DataTableLang = {
                "sProcessing":     "{{ 'dt_s_processing'|trans}}",
                "sSearch":         "{{ 'dt_a_search'|trans}}",
                "sLengthMenu":     "{{ 'dt_s_length_menu'|trans}}",
                "sInfo":           "{{ 'dt_s_info'|trans}}",
                "sInfoEmpty":      "{{ 'dt_s_info_empty'|trans}}",
                "sInfoFiltered":   "{{ 'dt_s_info_filtered'|trans}}",
                "sInfoPostFix":    "",
                "sLoadingRecords": "{{ 'dt_s_loading_records'|trans}}",
                "sZeroRecords":     "{{ 'dt_s_zero_records'|trans}}",
                "sEmptyTable":     "{{ 'dt_s_empty_table'|trans}}",
                "oPaginate": {
                    "sFirst":      "{{ 'dt_s_first'|trans}}",
                    "sPrevious":   "{{ 'dt_s_previous'|trans}}",
                    "sNext":       "{{ 'dt_s_next'|trans}}",
                    "sLast":       "{{ 'dt_s_last'|trans}}"
                },
                "oAria": {
                    "sSortAscending":  "{{ 'dt_s_sort_asc'|trans}}",
                    "sSortDescending": "{{ 'dt_s_sort_dsc'|trans}}"
                },
                "select": {
                    "rows": {
                        _: "{{ 'dt_s_rows_'|trans}}",
                        0: "{{ 'dt_s_rows_0'|trans}}",
                        1: "{{ 'dt_s_rows_1'|trans}}"
                    }
                }
            };

            var appUrls = {};
        </script>
        {% block js %}{% endblock %}
    </body>
</html>
