<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path_for('getDashboard') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{ 'dashboard_brand_name'|trans }}</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if active_menu in ['Controllers\\Admin\\DashboardController'] %}active{% endif %}">
        <a class="nav-link" href="{{ path_for('getDashboard') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{{ 'dashboard_menu_item'|trans }}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item {% if active_menu in ['Controllers\\Admin\\UsersController'] %}active{% endif %}">
        <a class="nav-link {% if active_menu not in [
            'Controllers\\Admin\\UsersController',
            'Controllers\\Admin\\RolesController',
        ] %}collapsed{% endif %}" href="#" data-toggle="collapse" data-target="#usersCollapse" aria-expanded="false" aria-controls="usersCollapse">
            <i class="fas fa-fw fa-users"></i>
            <span>{{ 'users'|trans }}</span>
        </a>
        <div id="usersCollapse" class="collapse {% if active_menu in ['Controllers\\Admin\\UsersController'] %}show{% endif %}" aria-labelledby="headingUserCollapse" data-parent="#accordionSidebar" style="">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if active_menu == 'Controllers\\Admin\\UsersController' %}active{% endif %}" href="{{ path_for('getUsers') }}">{{ 'users'|trans }}</a>
                <a class="collapse-item {% if active_menu == 'Controllers\\Admin\\RolesController' %}active{% endif %}" href="#">{{ 'roles'|trans }}</a>
            </div>
        </div>
    </li>

    <!-- Heading -->
    {#<div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Components:</h6>
                <a class="collapse-item" href="buttons.html">Buttons</a>
                <a class="collapse-item" href="cards.html">Cards</a>
            </div>
        </div>
    </li>#}


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->