<!DOCTYPE html>
<html lang="{{ 'tag_lang_html'|trans }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ 'description_html'|trans }}">
        <meta name="author" content="{{ 'author_html'|trans }}">

        <title>{{ 'register_title'|trans }} - {{ 'suffix_title'|trans }}</title>

        <!-- Custom fonts for this template-->
        <link href="{{ base_url() }}/css/fontawesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{{ base_url() }}/css/sb-admin-2.min.css" rel="stylesheet">
    </head>

    <body class="bg-gradient-primary">
        <div class="container">
        {% if errors is defined %}
            <br>
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
                    <strong>{{ errors.title }}</strong>
                    <ul>
                        {% for msg in errors.msgs %}
                            <li>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">{{ 'register_h1'|trans }}</h1>
                            </div>
                            <form class="user" method="post" action="{{ path_for('postRegister') }}">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="s_firstname" name="s_firstname" placeholder="{{ 'firstname'|trans }}">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="s_lastname" name="s_lastname" placeholder="{{ 'lastname'|trans }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="s_email" name="s_email" placeholder="{{ 'email_placeholder'|trans }}">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="s_email_confirmation" name="s_email_confirmation" placeholder="{{ 'email_confirm_placeholder'|trans }}">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="s_password" name="s_password" placeholder="{{ 'password_placeholder'|trans }}">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="s_password_confirm" name="s_password_confirm" placeholder="{{ 'password_confirm_placeholder'|trans }}">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    {{ 'register_btn'|trans }}
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{{ path_for('getLogin') }}">{{ 'already_have_account'|trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

        <!-- Bootstrap core JavaScript-->
        <script src="{{ base_url() }}/js/jquery.min.js"></script>
        <script src="{{ base_url() }}/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="{{ base_url() }}/js/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="{{ base_url() }}/js/sb-admin-2.min.js"></script>
    </body>
</html>
