<!DOCTYPE html>
<html lang="{{ 'tag_lang_html'|trans }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{ 'description_html'|trans }}">
        <meta name="author" content="{{ 'author_html'|trans }}">

        <title>{{ 'reset_password_title'|trans }} - {{ 'suffix_title'|trans }}</title>

        <!-- Custom fonts for this template-->
        <link href="{{ base_url() }}/css/fontawesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{{ base_url() }}/css/sb-admin-2.min.css" rel="stylesheet">
    </head>

    <body class="bg-gradient-primary">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    {% if mismatch is defined %}
                        <br>
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'close'|trans }}">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ 'reset_password_mismatch'|trans }}
                        </div>
                    {% endif %}
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4"></h1>
                                        </div>
                                        <form class="user" method="post" action="{{ path_for('postNewPassword', { 'token': token }) }}">
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" id="new_password" name="new_password" placeholder="{{ 'password_placeholder'|trans }}">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" id="new_password_confirm" name="new_password_confirm" placeholder="{{ 'password_confirm_placeholder'|trans }}">
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                {{ 'change_password_btn'|trans }}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="forgot_password_modal" tabindex="-1" role="dialog" aria-labelledby="forgot_password_modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="user" method="post" action="{{ path_for('postResetPassword') }}">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'modal_forgot_password_title'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'close_modal'|trans }}">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="fp_email" name="fp_email" aria-describedby="emailHelp" placeholder="{{ 'email_placeholder'|trans }}">
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    {{ 'recovery_password_explanation'|trans }}
                                </small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'close_modal'|trans }}</button>
                            <button type="submit" class="btn btn-primary">{{ 'reset_password_btn'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="{{ base_url() }}/js/jquery.min.js"></script>
        <script src="{{ base_url() }}/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="{{ base_url() }}/js/jquery.easing.min.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="{{ base_url() }}/js/sb-admin-2.min.js"></script>
    </body>
</html>
