{% extends 'emails/base.twig' %}

{% block email_header %}
    <h1 style="color:#FFFFFF;line-height:100%;font-family:Helvetica,Arial,sans-serif;font-size:35px;font-weight:normal;margin-bottom:5px;text-align:center;">
        {{'app_title'|trans}}
    </h1>
    <h2 style="text-align:center;font-weight:normal;font-family:Helvetica,Arial,sans-serif;font-size:13px;margin-bottom:10px;color:#33485e;line-height:135%;">
        {{ 'email_subtitle_app_author'|trans }}
    </h2>
    <div style="text-align:center;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#FFFFFF;line-height:135%;"></div>
{% endblock %}

{% block email_body %}
    <!--
       The "mc:edit" is a feature for MailChimp which allows
       you to edit certain row. It makes it easy for you to quickly edit row sections.
       http://kb.mailchimp.com/templates/code/create-editable-content-areas-with-mailchimps-template-language
    -->
    <h3 mc:edit="header" style="color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:0;margin-bottom:3px;text-align:left;">
        {{ 'password_recovery_email_title'|trans }}
    </h3>
    <div mc:edit="body" style="text-align:left;font-family:Helvetica,Arial,sans-serif;font-size:15px;margin-bottom:0;color:#5F5F5F;line-height:135%;">
        <p>{{ 'password_recovery_hello'|trans }} {{user.firstname|capitalize}} {{user.lastname|capitalize}}, <br /> <br />
            {{ 'password_recovery_follow_link'|trans }}</p>
        <p style="padding-left: 30px;"><a href="{{recovery_url}}" target="_blank">{{recovery_url}}</a></p>
        <p>{{ 'email_team_signature'|trans }} {{ 'app_author'|trans }}</p>
    </div>
{% endblock %}

{% block email_footer %}
    <div style="font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#828282;text-align:center;line-height:120%;">
        <div>
            Copyright &#169; {{ 'app_author'|trans }} <a href="{{ base_url() }}" target="_blank" style="text-decoration:none;color:#828282;">
                <span style="color:#828282;">{{ 'app_author'|trans }}</span>
            </a>
            {{ 'all_rights_reserved'|trans }}</div>
    </div>
{% endblock %}