{% extends 'front/base.twig' %}

{% block title %}{{ 'login_title'|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 offset-md-4 pt-5">
            {{ form|raw }}
        </div>
        <div class="col-md-4 offset-md-4 pt-2 text-center">
            <a href="{{ path_for('getForgotPassword') }}">{{ 'forgot_password'|trans }}</a>
            <br/>
            <a href="#">{{ 'register'|trans }}</a>
        </div>
    </div>
{%  endblock %}

{% block footer %}{% endblock %}

